
IFSlideShow/IFSlideShow.xcodeproj/project.xcworkspace/xcuserdata/roxwin.xcuserdatad/UserInterfaceState.xcuserstate

IFSlideShow/IFSlideShow.xcworkspace/xcuserdata/congnc-macpro.xcuserdatad/UserInterfaceState.xcuserstate
